<nav>
    <ul>
        <li><a href="/index">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Links/Contact</a></li>
        <li><a href="/posts">Posts</a></li>
        <li><a href="/pdfs/CV.pdf">CV</a></li>
    </ul>
</nav>