<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:fb="http://ogp.me/ns/fb#">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- HTML Meta Tags -->
    <meta name="description" content="{{ description }}">

    <!-- Meta Meta Tags -->
    <meta property="og:url" content="{{ url }}">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{ title }}">
    <meta property="og:description" content="{{ description }}">
    <meta property="og:image" content="{{ image }}">

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="{{ card }}">
    <meta property="twitter:domain" content="seongjoojung.github.io">
    <meta property="twitter:url" content="{{ url }}">
    <meta name="twitter:title" content="{{ title }}">
    <meta name="twitter:description" content="{{ description }}">
    <meta name="twitter:image" content="{{ image }}">

    <link rel="icon" href="/favicons/favicon.ico" sizes="any"><!-- 32×32 -->
    <link rel="icon" href="/favicons/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/favicons/apple-touch-icon.png">
    <link rel="manifest" href="/favicons/site.webmanifest">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet"
      href="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.7.0/build/styles/rainbow.min.css">
    <script src="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.7.0/build/highlight.min.js"></script>
    <script>hljs.highlightAll();</script>
    <title>Seongjoo Jung's Website</title>
</head>
<body>
    <header>
        <h1>Seongjoo Jung</h1>
    </header>

    {% include "nav.njk" %}
    

    <main-container>
        <main style="display: block;">
            <h2>{{ title }}</h2>
            <p class="date">
                <time datetime="{{ page.date }}">{{ page.date | readableDate }}</time>
            </p>
            {{ content | safe }}
        </main>
    </main-container>

    <footer>
        <p>&copy; 2023 Seongjoo Jung</p>
    </footer>   
</body>
</html>