---
title: About
layout: layouts/base.njk
---

<section>
    <h2>About me</h2>
    <img src="/images/my_photo.jpg" alt="My Photo">
    <p>I'm a 3rd year Ph.D. Student in University of Minnesota, in Profs. Birol and Daunenhauer Groups.</p>
    <p>I graduated Seoul National University in Seoul, Korea with B.S. degree in Chemical Engineering and a minor degree in Computer Science.</p>
    <p>I study fundamental possibilities of dynamic catalysis with Density Functional Theory by calculating simulated properties of materials at constant electric field.</p>
</section>