---
title: About
description: Seongjoo Jung's Website
layout: layouts/base.njk
card: summary
image: https://seongjoojung.github.io/favicons/fav.png
---

<section>
    <h2>About me</h2>
    <img src="/images/my_photo.jpg" alt="My Photo">


    <p> 
        <b> I'm currently in search of a postdoc position! </b> <br>
        Feel free to contact me via email: jung0318 at umn.edu 
    </p>

    <hr>

    <p>I'm a 5th year Ph.D. Student in University of Minnesota, in Profs. Birol and Daunenhauer Groups.</p>
    <p>I graduated Seoul National University in Seoul, Korea with B.S. degree in Chemical Engineering and a minor degree in Computer Science.</p>
    <p>I research condensed matter and materials theory, with a focus on next-generation ferroelectrics and antiferroelectrics. My work integrates group theory (representation theory) and density functional theory to explore and predict novel material properties. </p>

    <p>
        <b>Research Highlight:</b> <a href="https://arxiv.org/abs/2502.08633"> The hybrid-triggered ferroelectricity in HfO\(_2\) </a>
    </p> 

    <hr>

    <p>         
        <a href="https://www.linkedin.com/in/seongjoojung/"> <i class="fa fa-linkedin" style="font-size:24px"></i> LinkedIn </a> /
        <a href="https://github.com/seongjoojung"> <i class="fa fa-github" style="font-size:24px"></i> Github</a> /
        <a href="https://scholar.google.com/citations?user=5fsIscUAAAAJ&hl=en&oi=ao"> <i class="fa fa-google" style="font-size:24px"></i> Google Scholar</a> <br>
    </p> 
    
    <p>
        <a href="https://birol.cems.umn.edu/"> Birol group website </a> / 
        <a href="https://dauenhauer.cems.umn.edu/"> Dauenhauer group website </a>
    </p>

</section>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
