---
title: Home
description: Seongjoo Jung's Website
layout: layouts/base.njk
card: summary
image: https://seongjoojung.github.io/favicons/fav.png
---

<aside>
    <h2><a href="about" style="text-decoration:none; color: inherit">About me</a></h2>
    <img style="max-width: 250px;" src="images/Seongjoo.jpg" alt="My Photo">
</aside>
<section>
    <h2>Featured posts</h2>
    <div> 
        {% for post in collections.post | reverse %}
            {% if (post.data.featured) %}
                <h3 style="display: inline;"><a href="{{ post.url }}" style="text-decoration:none; color: inherit;">{{ post.data.title }}</a> </h3>
                <p style="display: inline; margin-top:3px; margin-bottom:6px;" class="date">
                    &nbsp; <time datetime="{{ page.date }}"><nobr>{{ post.data.date | readableDate }}</nobr></time>
                </p>
                <p class="description">{{ post.data.description }}</p>
            {% endif %}
        {% endfor %}
    </div>

    {# <h2>Latest posts</h2>
    <div> 
        {% for post in collections.post | reverse %}
            {% if loop.index0 < 3 %}
                <h3 style="display: inline;">{{ post.data.title }}</h3>
                <p style="display: inline;" class="date">
                  &nbsp; <time datetime="{{ page.date }}">{{ post.data.date | readableDate }}</time>
                </p>
                <p style="margin-top:6px; margin-bottom:6px;">{{ post.data.description }}</p>
                <a href="{{ post.url }}">Read more</a>  
                <br>
                <br>
            {% endif %}
        {% endfor %}
    </div> #}
</section>