---
title: Posts
description: Seongjoo Jung's Website
layout: layouts/base.njk
card: summary
image: https://seongjoojung.github.io/favicons/fav.png
---

<div> 
    <h2> Archive</h2>
    {% for post in collections.post | reverse %}
        <h3 style="display: inline;"><a href="{{ post.url }}" style="text-decoration:none; color: inherit">{{ post.data.title }}</a> </h3>
        <p style="display: inline;" class="date">
            &nbsp; <time datetime="{{ page.date }}"><nobr>{{ post.data.date | readableDate }}</nobr></time>
        </p>
        <p class="description">{{ post.data.description }}</p>
    {% endfor %}
</div>

