---
title: Posts
description: Seongjoo Jung's Website
layout: layouts/base.njk
---

<div> 
    <h2> Archive</h2>
    {% for post in collections.post | reverse %}
        <h3 style="display: inline;">{{ post.data.title }}</h3>
        <p style="display: inline;" class="date">
            &nbsp; <time datetime="{{ page.date }}">{{ post.data.date | readableDate }}</time>
        </p>
        <p style="margin-top:6px; margin-bottom:6px;">{{ post.data.description }}</p>
        <a href="{{ post.url }}">Read more</a>  
        <br>
        <br>
    {% endfor %}
</div>